#cloud-config
coreos:
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
    - name: docker.service
      command: start
      content: |
        [Unit]
        Description=Docker Application Container Engine 
        Documentation=http://docs.docker.io
        After=network.target
        [Service]
        #ExecStartPre=/bin/mount --make-rprivate /
        # Run docker but don't have docker automatically restart
        # containers. This is a job for systemd and unit files.
        # ExecStart=/usr/bin/docker -d -s=btrfs -r=false -H fd:// -D
        ExecStart=/usr/bin/docker -d -r=false -D
        [Install]
        WantedBy=multi-user.target
    - name: hello.service
      command: restart
      content: |
        [Install]
        WantedBy=multi-user.target
        [Unit]
        Description=My Service
        After=docker.service
        Requires=docker.service
        
        [Service]
        ExecStart=/usr/bin/docker run -d -p 80:80 tutum/hello-world
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAYQC2PxAKTLdczK9+RNsGGPsz0eC2pBlydBEcrbI7LSfiN7Bo5hQQVjki+Xpnp8EEYKpzu6eakL8MJj3E28wT/vNklT1KyMZrXnVhtsmOtBKKG/++odpaavdW2/AU0l7RZiE=

users:
  - name: user1
    passwd: $6$rounds=4096$bkatHG2Eib2UY3$sDopDivMNba013rhlaeH0WHc3K5eNlKNVgyoeMu6sYo1IyKDVE.I9uEYukSARCVTaJtjFgQUThqfAlLGrmgA./
    groups:
      - sudo
      - docker
