#cloud-config
coreos:
  units:
    - name: hello.service
      command: start
      content: |
        [Install]
        WantedBy=multi-user.target
        [Unit]
        Description=Install to disk
        
        [Service]
        ExecStart=cd /home/user1;wget https://bitbucket.org/wouterm/bootserver/raw/master/cloud-config.yml;wget https://raw.githubusercontent.com/coreos/init/master/bin/coreos-install;coreos-install -d /dev/sda -c cloud-config.yml;reboot

users:
  - name: user1
    passwd: $6$rounds=4096$bkatHG2Eib2UY3$sDopDivMNba013rhlaeH0WHc3K5eNlKNVgyoeMu6sYo1IyKDVE.I9uEYukSARCVTaJtjFgQUThqfAlLGrmgA./
    groups:
      - sudo
      - docker
